* {
    margin: 0;
}

.logo {

    color: blueviolet;
    /* color: brown; */
    background-color: black;
    width: 100%;
    text-align: center;
}

header {
    display: flex;

    nav {
        background-color: black;
        font-size: x-large;
    }

    nav a {
        padding: 1em;
        color: rgb(249, 252, 249);
    }
}

.cards {
    display: flex;
}

.card {
    display: flex;
}